#loginButton {
	color: red;
}

#loginButton:HOVER {
	color: blue;
	cursor: pointer;
}

#loginButton {
	display: none;
}

#logoutButton {
	display: none;
}

#questionButton {
	display: none;
}

#user_info {
	display: none;
}