#login_id:HOVER {
	color: blue;
	cursor: pointer;
}
#signup_id:HOVER {
	color: blue;
	cursor: pointer;
}
#logout_id:HOVER {
	color: blue;
	cursor: pointer;
}

#login_id {
	display: none;
}

#signup_id {
	display: none;
}

#logout_id {
	display: none;
}

#user_info_id {
	display: none;
}

#user_info_id:HOVER {
	color: blue;
	cursor: pointer;
}

#user_info_id {
	margin-top: 14px;
	text-align:center;
	color: white;
}
#search_input_id {
	margin-top: 8px;
}
#search_submit_id {
	margin-left: 8px;
}